@page "/categories/details"
@* @    using Microsoft.EntityFrameworkCore *@
@* @    using CRUDByBlazorTemplate.Models *@
@* @inject IDbContextFactory<AppDbContext> DbFactory *@
@* @inject NavigationManager NavigationManager *@

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Category</h2>
    <hr />
    
</div>

@code {
    // private Category? category;

    // [SupplyParameterFromQuery]
    // private int Id { get; set; }

    // protected override async Task OnInitializedAsync()
    // {
    //     using var context = DbFactory.CreateDbContext();
    //     category = await context.Categories.FirstOrDefaultAsync(m => m.Id == Id);

    //     if (category is null)
    //     {
    //         NavigationManager.NavigateTo("notfound");
    //     }
    // }
}
