@page "/categories"
@using CRUDByBlazorTemplate.Models
@using CRUDByBlazorTemplate.Services
@using CRUDByBlazorTemplate.Response
@using CRUDByBlazorTemplate.Dtos
@inject ResultPageState ResultPageState
@using CRUDByBlazorTemplate.Components.UI.DataTable
@inject ICategoryService _categoryService
@attribute [StreamRendering]
@rendermode InteractiveServer

<PageTitle>Categorias</PageTitle>

<h1>Listagem de categorias</h1>

<DataTable T=CategoryDto DataTableVM="@(new ViewModel<CategoryDto>(Headers, Categories, Total, Take, ResultPageState, Search, Response))" />

@code
{

    private List<CategoryDto>? Categories = new List<CategoryDto>();

    private List<(string Header, string PropName)> Headers = new List<(string Header, string PropName)>
    {
        ("Título", "Title"),
        ("Descrição", "Description")
    };


    private int Total;

    private int Take = 10;

    private string? Search;

    private CategoryResponse Response;

    protected override async Task OnInitializedAsync()
    {
        var res = await _categoryService.Get(Take, (ResultPageState.Page - 1) * Take, Search);

        Response = (CategoryResponse)res.Content;

        Categories = Response.CategoryDtos;

        Total = Response.Total;
    }


}