@page "/categories"
@using CRUDByBlazorTemplate.Models
@using CRUDByBlazorTemplate.Services
@using CRUDByBlazorTemplate.Response
@using CRUDByBlazorTemplate.Dtos
@using CRUDByBlazorTemplate.Components.UI.DataTable
@inject ICategoryService _categoryService
@attribute [StreamRendering]
@rendermode InteractiveServer

<PageTitle>Categorias</PageTitle>

<h1>Listagem de categorias</h1>

<DataTable 
T=CategoryDto 
DataTableVM="@(new ViewModel<CategoryDto>(Headers, Categories, Total, Take, Page, Search, Response))"   
GetData="GetCategories"
/>

@code
{

    private List<CategoryDto>? Categories = new List<CategoryDto>();

    private List<(string Header, string PropName)> Headers = new List<(string Header, string PropName)>
    {
        ("Título", "Title"),
        ("Descrição", "Description"),
        ("Criado em", "CreatedAt"),
        ("Ultima atualização", "UpdatedAt")
    };


    private int Total;

    private int Take = 10;

    private int Page = 1;

    private string? Search;

    private CategoryResponse Response;

    public async Task<GridData<CategoryDto>> GetCategories(int Page=1)
    {
        var res = await _categoryService.Get(Take, (Page - 1) * Take, Search);

        Response = (CategoryResponse)res.Content;

        Categories = Response.CategoryDtos;

        Total = Response.Total;

        return new GridData<CategoryDto>
            {
                Items = Categories,
                TotalItems = Total
            };
    }

}